@{
    Layout = null;
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test Task</title>
    <link rel="stylesheet" type="text/css" href="~/Content/MyStyle.css" />
</head>

<body>
    <div class="row">
       @using (Html.BeginForm("FindAndAdd", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
       {
            <label for="File">Choose file: </label>
            <input type="file" name="File" required/>
            <br />
            <label for="Search">Enter word for parsing file: </label>
            <input type="text" name="SearchWord" required placeholder="Enter word"/>
            <br />
            <input class="button1" type="submit" value="Search and parsing" />
           
       }
    </div>
    <br />
   
        
        <h3>Database of earlier found sentences</h3>
        <div class="tbl">
            <table class="collapsed">
                <tr>
                    <td><b>ID</b></td>
                    <td><b>Sentence</b></td>
                    <td><b>Count</></b></td>
                </tr>
                @foreach (var s in ViewBag._Sentences)
                {

                    <tr>
                        <td><p>@s.ID</p></td>
                        <td><p>@s.Body</p></td>
                        <td><p>@s.Counter</p></td>
                    </tr>
                }

            </table>
        </div>

</body>
</html>